<h3>Support Us</h3>
<p>
  Currently there is no donation link for Z3rSim reborn. If there will be in the future this is where it will be.

  Below is the old supporting information for for the original developer <strong>kyong92</strong>
</p>

<h3>Patreon</h3>
<p>
  Z3RSim was originally created by <strong>kyong92</strong>. If you'd like to support the original creator
  for the amazing work that forms the foundation of this project, you can visit his
  <strong><a href="https://www.patreon.com/kyong92" target="_blank">Patreon</a></strong>.
  Please note that kyong92 is no longer actively maintaining the project, but the Patreon remains as a way
  to show appreciation for the work that made Z3RSim possible.
</p>

<h3>Donations</h3>
<p>
  If you'd like to just buy the original creator a drink and not commit to anything, that's fine as well,
  you can do that through a PayPal donation on his
  <strong><a href="https://streamlabs.com/kyong92" target="_blank">Twitch Donation Page</a></strong>.
  All proceeds presumably go directly to kyong92 but i have no way to verify this still works, you do not need to select a GIF or effect.
</p>

<h3>Thank you</h3>
<p>
  Thanks for even considering supporting the website, I just hope we can keep building cool things to explore
  this exciting world of randomizers we found.
</p>

<h3>Special Thanks to the Patrons who supported this project up till this point</h3>
<p class="golden col-xs-3">Kohrek</p>
<p class="silver col-xs-3">Qirn</p>
<p class="silver col-xs-3">YunaKitty</p>
<p class="silver col-xs-3">Leenuhh</p>