<h2>GG, you saved the world, etc.</h2>

<div class="accordion end-stats-accordion">
  <details class="accordion-item" open>
    <summary>Quest Performance</summary>
    <div class="accordion-content">
    @for (table of getQuestPerformanceTables(); track $index) {
      <div>
        <h3>{{ table[0] }}</h3>
        <table class="table">
          <tbody>
            @for (row of table[1]; track $index) {
              <tr>
                <td class="stat-cell">{{ row[0] }}</td>
                <td class="stat-cell">{{ row[1] }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
      </div>
  </details>
  <details class="accordion-item">
    <summary>Dungeon Info</summary>
    <div class="accordion-content">
    @for (table of getDungeonInfoTables(); track $index) {
      <div>
        <h3>{{ table[0] }}</h3>
        <table class="table">
          <tbody>
            @for (row of table[1]; track $index) {
              <tr>
                <td class="stat-cell">{{ row[0] }}</td>
                <td class="stat-cell">{{ row[1] }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
      </div>
  </details>
  <details class="accordion-item">
    <summary>Item Info</summary>
    <div class="accordion-content">
    @for (table of getItemInfoTables(); track $index) {
      <div>
        <h3>{{ table[0] }}</h3>
        <table class="table item-info-table">
          <tbody>
            @for (row of table[1]; track $index) {
              <tr>
                <td class="icon-cell">
                  <span class="item-info-cell">
                    <img class="icon" [src]="'assets/item-icons/' + row[0] + '.png'">
                  </span>
                </td>
                <td class="item-name-cell">
                  <span class="item-info-cell">{{ row[1] }}</span>
                </td>
                <td class="stat-cell">
                  <span class="item-info-cell">{{ row[2] }}</span>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
      </div>
  </details>
  <details class="accordion-item">
    <summary>Seed Info</summary>
    <div class="accordion-content">
    @for (table of getSeedDataTables(); track $index) {
      <div>
        <table class="table headerless-table">
          <tbody>
            @for (row of table[1]; track $index) {
              <tr>
                <td class="stat-cell">{{ row[0] }}</td>
                <td class="stat-cell">{{ row[1] }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
      </div>
  </details>
</div>
